{% extends "base.html" %}
{% load static %}
<!-- adding css box for the template of the app -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- covers background image -->
<div class="overlay"></div>
<div class="container">
    <!-- row to contain shopping bag heading -->
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Profile</h2>
            <hr>
        </div>
    </div>
{% endblock %}
<!-- javascript to render stripe -->
{% block postloadjs %}
    {{ block.super }}
    <!-- template filter json_script to render the public key -->
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <!-- link to js file for the template -->
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}