{% extends "base.html" %}
{% load static %}

<!-- adding css box for the template of the app -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- covers background image -->
<div class="overlay"></div>
<div class="container">
    <!-- row to contain checkout success heading -->
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Checkout Success Thank You!!</h2>
            <hr>
            <p class="text-black">Your order information is below. A confirmation email will be sent to
                <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <!-- second row to contain a table showing bag contents -->
    <div class="row">
        <div class="col-12 col-lg-7">
            <!-- wrap order confirmation with a border -->
            <div class="order-confirmation-wrapper p-2 border">
                <!-- section for order info-->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Information:</small>
                    </div>
                </div>
                <!-- section for order number -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.order_number }}</p>
                    </div>
                </div>
                <!-- section for order date-->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>
                <!-- section for order details-->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Details:</small>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- javascript to render stripe -->
            {% block postloadjs %}
            {{ block.super }}
            <!-- template filter json_script to render the public key -->
            {{ stripe_public_key|json_script:"id_stripe_public_key" }}
            {{ client_secret|json_script:"id_client_secret" }}
            <!-- link to js file for the template -->
            <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
            {% endblock %}