<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <!--products dropdown for links for user to access all products-->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!--Vitamins & Supplements dropdown for links for user to access all Vitamins & Supplements-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="supplement-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vitamins & Supplements
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="supplement-link">
                <a href="" class="dropdown-item">Vitamins</a>
                <a href="" class="dropdown-item">Minerals</a>
                <a href="" class="dropdown-item">Supplements</a>
                <a href="" class="dropdown-item">All Vitamins & Supplements</a>
            </div>
        </li>
        <!--Sports Nutrition dropdown for links for user to access Sports Nutrition-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="online-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sports Nutrition
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="online-link">
                <a href="" class="dropdown-item">Protien Powders</a>
                <a href="" class="dropdown-item">Bars, Drinks, Snacks</a>
                <a href="" class="dropdown-item">Creatine</a>
                <a href="" class="dropdown-item">Electrolytes</a>
                <a href="" class="dropdown-item">Energy Gels</a>
                <a href="" class="dropdown-item">Amino Acids</a>
                <a href="" class="dropdown-item">Sports Accessories</a>
                <a href="" class="dropdown-item">All Sport Nutrition Products</a>
            </div>
        </li>
        <!--Weight management dropdown for links for user to access all Weight management products-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clearance-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Weight Management
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clearance-link">
                <a href="" class="dropdown-item">Fat Burners</a>
                <a href="" class="dropdown-item">Weight Management</a>
                <a href="" class="dropdown-item">Diet Drinks and Foods</a>
                <a href="" class="dropdown-item">All Weight Management products</a>
            </div>
        </li>
    </ul>
</div>