<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <!--products dropdown for links for user to access all products-->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <!-- sort products by price in accending order -->
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <!-- sort products by rating in desending order -->
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <!-- sort products by vategory in accending order -->
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <!-- sort productsby all products -->
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!--Vitamins & Supplements dropdown for links for user to access all Vitamins & Supplements-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="supplement-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vitamins & Supplements
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="supplement-link">
                <a href="{% url 'products' %}?category=vitamins" class="dropdown-item">Vitamins</a>
                <a href="{% url 'products' %}?category=minerals" class="dropdown-item">Minerals</a>
                <a href="{% url 'products' %}?category=supplements" class="dropdown-item">Supplements</a>
                <a href="{% url 'products' %}?category=vitamins,minerals,supplements" class="dropdown-item">All Vitamins & Supplements</a>
            </div>
        </li>
        <!--Sports Nutrition dropdown for links for user to access Sports Nutrition-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="online-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sports Nutrition
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="online-link">
                <a href="{% url 'products' %}?category=protein_powders" class="dropdown-item">Protien Powders</a>
                <a href="{% url 'products' %}?category=bars_drinks_snacks" class="dropdown-item">Bars, Drinks, Snacks</a>
                <a href="{% url 'products' %}?category=creatine" class="dropdown-item">Creatine</a>
                <a href="{% url 'products' %}?category=electrolytes" class="dropdown-item">Electrolytes</a>
                <a href="{% url 'products' %}?category=energy_gels" class="dropdown-item">Energy Gels</a>
                <a href="{% url 'products' %}?category=amino_acids" class="dropdown-item">Amino Acids</a>
                <a href="{% url 'products' %}?category=sports_accessories" class="dropdown-item">Sports Accessories</a>
                <a href="{% url 'products' %}category=protein_powders,bars_drinks_snacks,creatine,electrolytes,energy_gels,amino_acids,sports_accessories" class="dropdown-item">All Sport Nutrition Products</a>
            </div>
        </li>
        <!--Weight management dropdown for links for user to access all Weight management products-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clearance-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Weight Management
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clearance-link">
                <a href="{% url 'products' %}?category=fat_burner" class="dropdown-item">Fat Burners</a>
                <a href="{% url 'products' %}?category=weight_management" class="dropdown-item">Weight Management</a>
                <a href="{% url 'products' %}?category=foods_drinks" class="dropdown-item">Diet Drinks and Foods</a>
                <a href="{% url 'products' %}?category=fat_burner,weight_management,foods_drinks" class="dropdown-item">All Weight Management products</a>
            </div>
        </li>
    </ul>
</div>