/* fieldset label adjustment */
.fieldset-label {
    position: relative;
    right: .5rem;
}

/* all form controls to have black text and border */
#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}